@font-face {
  font-family: 'Internacional';
  src: url(Internacional-Regular.otf);
}

.App {
  text-align: center;
}

.todo_wrapper{
  background-color: brown;
  width: 50%;  
}

.todo_input{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.todo_input label{
  padding: 10px;
  font-family: 'Internacional';
  font-size: 24px;
}

.todo_input_item{
  margin: 20px; 
}

.todo_input_item input{
  background-color: beige;
  border: 1px solid black;
  height: 44px;
}

.todo_input_item button{
  background-color: beige;
  border: 1px solid black;
  height: 44px;
}

.todo_input_item button:hover{
  background-color: red;
  border: 1px solid black;
  height: 44px;
}